#rotate1 {
  animation:1s linear infinite rotation;
}

#rotate2 {
  animation:0.1s linear infinite rotation;
}

#rotate3 {
  animation:0.01s linear infinite rotation;
}

#rotate4 {
  animation:0.001s linear infinite rotation;
}

#rotate5 {
  animation:0.0001s linear infinite rotation;
}

@keyframes rotation{
  0%{ transform:rotate(0);}
  100%{ transform:rotate(360deg); }
}

.container_image{
    margin-bottom: 20em;
}

img {
    width: 30em;
    max-width: 100%;
    min-width: 15em;
}
