.rotate360 {
  animation:0.01s linear infinite rotation360;
}

.conic-gradient-hls {
  Background: conic-gradient(red, yellow, lime, aqua, blue, fuchsia, red);
  border-radius: 50%;
  width: 100%;
  padding-top: 100%;
}

@keyframes rotation360{
  0%{ transform:rotate(0);}
  100%{ transform:rotate(360deg); }
}

.container-image{
    margin-bottom: 20em;
}
